USE [master]
GO
/****** Object:  Database [QLKHACHSAN]    Script Date: 24/06/2020 7:56:55 CH ******/
CREATE DATABASE [QLKHACHSAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKHACHSAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLKHACHSAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKHACHSAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLKHACHSAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKHACHSAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKHACHSAN]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END
GO
/****** Object:  Table [dbo].[CHITIETDATPHONG]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATPHONG](
	[MAHD] [int] NOT NULL,
	[MAPHONG] [int] NOT NULL,
	[THOIGIANDEN] [datetime] NULL,
	[THOIGIANDI] [datetime] NULL,
	[TRANGTHAI] [bit] NULL,
	[GIAPHONG] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETSUDUNGDV]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSUDUNGDV](
	[MAHD] [int] NOT NULL,
	[MADICHVU] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADICHVU] [int] IDENTITY(1,1) NOT NULL,
	[TENDICHVU] [nvarchar](100) NULL,
	[GIADV] [decimal](18, 0) NULL,
	[MOTA] [int] NULL,
	[SOLUONGTON] [int] NULL,
	[DONVI] [nvarchar](50) NULL,
	[MALOAIDICHVU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAODIEN]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAODIEN](
	[MAGD] [int] NOT NULL,
	[KIEU] [char](100) NULL,
	[GIATRI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDTHANHTOAN]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDTHANHTOAN](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [int] NULL,
	[TIENKHACHDUA] [decimal](18, 0) NULL,
	[TONGTIENPHONG] [decimal](18, 0) NULL,
	[TONGTIENDICHVU] [decimal](18, 0) NULL,
	[MANV] [int] NULL,
	[NGAYHD] [date] NULL,
	[TRANGTHAI] [int] NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
	[PHONGDATHUE] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[MAPHANCAP] [int] NULL,
	[MANV] [int] NULL,
	[HOTEN] [nvarchar](100) NULL,
	[SDT] [ntext] NULL,
	[GIOITINH] [bit] NULL,
	[CMND] [varchar](20) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[NGAYTAO] [date] NULL,
	[EMAIL] [char](100) NULL,
	[NGAYSINH] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDICHVU]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDICHVU](
	[MALOAIDICHVU] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIDICHVU] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nvarchar](50) NULL,
	[MOTA] [nvarchar](500) NULL,
	[GIAGIOSAU] [decimal](18, 0) NULL,
	[GIANGAY] [decimal](18, 0) NULL,
	[GIATHANG] [decimal](18, 0) NULL,
	[GIAGIODAU] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[TENNV] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GT] [bit] NULL,
	[CMND] [int] NULL,
	[CHUCVU] [nvarchar](200) NULL,
	[NGAYTAO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCKHACHHANG]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCKHACHHANG](
	[MAPHANCAP] [int] IDENTITY(1,1) NOT NULL,
	[GIAMGIA] [int] NULL,
	[MOTA] [nvarchar](500) NULL,
	[TENPC] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHANCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](50) NULL,
	[MOTA] [nvarchar](500) NULL,
	[MALOAIPHONG] [int] NULL,
	[TANG] [int] NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATAIKHOAN] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [char](100) NULL,
	[MATKHAU] [char](100) NULL,
	[QUYENTRUYCAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATDUNG]    Script Date: 24/06/2020 7:56:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATDUNG](
	[MAVATDUNG] [int] IDENTITY(1,1) NOT NULL,
	[TENVATDUNG] [nvarchar](200) NULL,
	[HANGSANXUAT] [nvarchar](100) NULL,
	[THOIGIANMUA] [date] NULL,
	[CHITIET] [nvarchar](500) NULL,
	[MAPHONG] [int] NULL,
	[GIA] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVATDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDATPHONG] ([MAHD], [MAPHONG], [THOIGIANDEN], [THOIGIANDI], [TRANGTHAI], [GIAPHONG]) VALUES (10, 1, CAST(N'2020-04-22T11:04:27.517' AS DateTime), CAST(N'2020-04-22T11:08:49.933' AS DateTime), 1, CAST(150000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETDATPHONG] ([MAHD], [MAPHONG], [THOIGIANDEN], [THOIGIANDI], [TRANGTHAI], [GIAPHONG]) VALUES (10, 7, CAST(N'2020-04-22T11:04:27.517' AS DateTime), CAST(N'2020-04-22T11:08:53.753' AS DateTime), 1, CAST(120000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETDATPHONG] ([MAHD], [MAPHONG], [THOIGIANDEN], [THOIGIANDI], [TRANGTHAI], [GIAPHONG]) VALUES (13, 10, CAST(N'2020-05-03T20:28:21.280' AS DateTime), CAST(N'2020-05-03T20:59:17.540' AS DateTime), 1, CAST(200000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETSUDUNGDV] ([MAHD], [MADICHVU], [SOLUONG], [THANHTIEN]) VALUES (13, 1, 7, CAST(70000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETSUDUNGDV] ([MAHD], [MADICHVU], [SOLUONG], [THANHTIEN]) VALUES (13, 2, 7, CAST(70000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETSUDUNGDV] ([MAHD], [MADICHVU], [SOLUONG], [THANHTIEN]) VALUES (13, 5, 1, CAST(30000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([MADICHVU], [TENDICHVU], [GIADV], [MOTA], [SOLUONGTON], [DONVI], [MALOAIDICHVU]) VALUES (1, N'Nước Sting', CAST(10000 AS Decimal(18, 0)), 0, 100, N'chai', 1)
INSERT [dbo].[DICHVU] ([MADICHVU], [TENDICHVU], [GIADV], [MOTA], [SOLUONGTON], [DONVI], [MALOAIDICHVU]) VALUES (2, N'Nước Sting Đỏ', CAST(10000 AS Decimal(18, 0)), 0, 100, N'chai', 1)
INSERT [dbo].[DICHVU] ([MADICHVU], [TENDICHVU], [GIADV], [MOTA], [SOLUONGTON], [DONVI], [MALOAIDICHVU]) VALUES (3, N'Cocacola', CAST(8000 AS Decimal(18, 0)), 0, 100, N'chai', 1)
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
SET IDENTITY_INSERT [dbo].[HDTHANHTOAN] ON 

INSERT [dbo].[HDTHANHTOAN] ([MAHD], [MAKHACHHANG], [TIENKHACHDUA], [TONGTIENPHONG], [TONGTIENDICHVU], [MANV], [NGAYHD], [TRANGTHAI], [NGAYTHANHTOAN], [PHONGDATHUE]) VALUES (8, NULL, CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, CAST(N'2020-04-22' AS Date), 0, NULL, NULL)
INSERT [dbo].[HDTHANHTOAN] ([MAHD], [MAKHACHHANG], [TIENKHACHDUA], [TONGTIENPHONG], [TONGTIENDICHVU], [MANV], [NGAYHD], [TRANGTHAI], [NGAYTHANHTOAN], [PHONGDATHUE]) VALUES (9, NULL, CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, CAST(N'2020-04-22' AS Date), 0, NULL, NULL)
INSERT [dbo].[HDTHANHTOAN] ([MAHD], [MAKHACHHANG], [TIENKHACHDUA], [TONGTIENPHONG], [TONGTIENDICHVU], [MANV], [NGAYHD], [TRANGTHAI], [NGAYTHANHTOAN], [PHONGDATHUE]) VALUES (10, 201, CAST(0 AS Decimal(18, 0)), CAST(270000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, CAST(N'2020-04-22' AS Date), 1, CAST(N'2020-04-22T11:08:53.737' AS DateTime), N'Phòng 101 , Phòng 201 , ')
SET IDENTITY_INSERT [dbo].[HDTHANHTOAN] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [MAPHANCAP], [MANV], [HOTEN], [SDT], [GIOITINH], [CMND], [DIACHI], [NGAYTAO], [EMAIL], [NGAYSINH]) VALUES (196, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2020-04-22' AS Date), NULL, NULL)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [MAPHANCAP], [MANV], [HOTEN], [SDT], [GIOITINH], [CMND], [DIACHI], [NGAYTAO], [EMAIL], [NGAYSINH]) VALUES (201, 1, 1, N'Phan Văn Nhật', N'0988581394', 1, N'0123456789', N'Hà Nội', CAST(N'2020-04-22' AS Date), N'                                                                                                    ', CAST(N'1998-04-24' AS Date))
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [MAPHANCAP], [MANV], [HOTEN], [SDT], [GIOITINH], [CMND], [DIACHI], [NGAYTAO], [EMAIL], [NGAYSINH]) VALUES (202, 1, 1, N'Đỗ Đăng Khải', N'0988581394', 1, N'0123456788', N'Hà Nội', CAST(N'2020-04-22' AS Date), N'                                                                                                    ', CAST(N'1998-07-18' AS Date))
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAIDICHVU] ON 

INSERT [dbo].[LOAIDICHVU] ([MALOAIDICHVU], [TENLOAIDICHVU]) VALUES (1, N'Đồ uống')
INSERT [dbo].[LOAIDICHVU] ([MALOAIDICHVU], [TENLOAIDICHVU]) VALUES (2, N'Đồ ăn')
INSERT [dbo].[LOAIDICHVU] ([MALOAIDICHVU], [TENLOAIDICHVU]) VALUES (3, N'Caffe')
SET IDENTITY_INSERT [dbo].[LOAIDICHVU] OFF
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [MOTA], [GIAGIOSAU], [GIANGAY], [GIATHANG], [GIAGIODAU]) VALUES (1, N'1 Sao', N'', CAST(20000 AS Decimal(18, 0)), CAST(200000 AS Decimal(18, 0)), CAST(4500000 AS Decimal(18, 0)), CAST(70000 AS Decimal(18, 0)))
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [MOTA], [GIAGIOSAU], [GIANGAY], [GIATHANG], [GIAGIODAU]) VALUES (2, N'2 Sao', N'', CAST(25000 AS Decimal(18, 0)), CAST(250000 AS Decimal(18, 0)), CAST(5000000 AS Decimal(18, 0)), CAST(90000 AS Decimal(18, 0)))
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [MOTA], [GIAGIOSAU], [GIANGAY], [GIATHANG], [GIAGIODAU]) VALUES (3, N'3 Sao', N'', CAST(30000 AS Decimal(18, 0)), CAST(300000 AS Decimal(18, 0)), CAST(5500000 AS Decimal(18, 0)), CAST(120000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
SET IDENTITY_INSERT [dbo].[PCKHACHHANG] ON 

INSERT [dbo].[PCKHACHHANG] ([MAPHANCAP], [GIAMGIA], [MOTA], [TENPC]) VALUES (1, 0, NULL, N'Khách thường')
SET IDENTITY_INSERT [dbo].[PCKHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [MOTA], [MALOAIPHONG], [TANG], [TRANGTHAI]) VALUES (1, N'Phòng 101', N'', 4, 1, 2)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [MOTA], [MALOAIPHONG], [TANG], [TRANGTHAI]) VALUES (2, N'Phòng 102', N'', 3, 1, 2)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [MOTA], [MALOAIPHONG], [TANG], [TRANGTHAI]) VALUES (3, N'Phòng 103', N'', 1, 1, 0)
SET IDENTITY_INSERT [dbo].[PHONG] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MATAIKHOAN], [TENDANGNHAP], [MATKHAU], [QUYENTRUYCAP]) VALUES (1, N'phanvannhat                                                                                         ', N'1                                                                                                   ', 1)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
ALTER TABLE [dbo].[HDTHANHTOAN] ADD  DEFAULT (getdate()) FOR [NGAYHD]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[CHITIETDATPHONG]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CHITIETDATPHONG]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HDTHANHTOAN] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETSUDUNGDV]  WITH CHECK ADD FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[DICHVU] ([MADICHVU])
GO
ALTER TABLE [dbo].[CHITIETSUDUNGDV]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HDTHANHTOAN] ([MAHD])
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD FOREIGN KEY([MALOAIDICHVU])
REFERENCES [dbo].[LOAIDICHVU] ([MALOAIDICHVU])
GO
ALTER TABLE [dbo].[HDTHANHTOAN]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([MAPHANCAP])
REFERENCES [dbo].[PCKHACHHANG] ([MAPHANCAP])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[VATDUNG]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
/****** Object:  StoredProcedure [dbo].[GetAllServiceList]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetAllServiceList]
AS
BEGIN
SELECT * FROM dbo.DICHVU
END
GO
/****** Object:  StoredProcedure [dbo].[GetSearchServiceList]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetSearchServiceList](@serviceName NVARCHAR(100))
AS
BEGIN
	SELECT * FROM dbo.DICHVU
	WHERE dbo.fuConvertToUnsign1(TENDICHVU) LIKE N'%'+dbo.fuConvertToUnsign1(@serviceName)+'%'	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_AddCustomer]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_AddCustomer](@idEmploye INT,@customerName NVARCHAR(100),@phoneNumber NTEXT ,@sex BIT ,@identityCart NTEXT ,@address NVARCHAR(500) ,@birthDay DATE)
AS
BEGIN
	INSERT dbo.KHACHHANG
	(
	    MAPHANCAP,
	    MANV,
	    HOTEN,
	    SDT,
	    GIOITINH,
	    CMND,
	    DIACHI,
	    NGAYTAO,
	    EMAIL,
	    NGAYSINH
	)
	VALUES
	(   1,         -- MAPHANCAP - int
	    @idEmploye,         -- MANV - int
	    @customerName,       -- HOTEN - nvarchar(100)
	    @phoneNumber,       -- SDT - ntext
	    @sex,      -- GIOITINH - bit
	    @identityCart,       -- CMND - ntext
	    @address,       -- DIACHI - nvarchar(500)
	    GETDATE(), -- NGAYTAO - date
	    '',        -- EMAIL - char(100)
	    @birthDay  -- NGAYSINH - date
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_BillDelete]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_BillDelete](@idbill INT)
AS
BEGIN
	UPDATE dbo.PHONG SET TRANGTHAI = 0 
	WHERE MAPHONG IN (SELECT MAPHONG FROM dbo.CHITIETDATPHONG WHERE MAHD=@idBill)
	DELETE dbo.CHITIETDATPHONG WHERE MAHD=@idBill
	DELETE dbo.CHITIETSUDUNGDV WHERE MAHD=@idBill
	DELETE dbo.HDTHANHTOAN WHERE MAHD=@idbill
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CreateBill]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CreateBill]
AS
BEGIN
	INSERT dbo.HDTHANHTOAN
	(
	    MAKHACHHANG,
	    TIENKHACHDUA,
	    TONGTIENPHONG,
	    TONGTIENDICHVU,
	    MANV,
	    NGAYHD,
	    TRANGTHAI
	)
	VALUES
	(   NULL,         -- MAKHACHHANG - int
	    NULL,      -- TIENKHACHDUA - decimal(18, 0)
	    NULL,      -- TONGTIENPHONG - decimal(18, 0)
	    NULL,      -- TONGTIENDICHVU - decimal(18, 0)
	    NULL,         -- MANV - int
	    GETDATE(), -- NGAYHD - date
	    0          -- TRANGTHAI - int
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteAllRoomSelected]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DeleteAllRoomSelected](@idbill INT)
AS
BEGIN
	UPDATE dbo.PHONG SET TRANGTHAI = 0 
		WHERE MAPHONG IN (SELECT MAPHONG FROM dbo.CHITIETDATPHONG WHERE MAHD=@idbill)
	DELETE dbo.CHITIETDATPHONG WHERE MAHD=@idBill
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteGroupRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DeleteGroupRoom](@id INT)
AS
BEGIN
	UPDATE dbo.PHONG SET MALOAIPHONG = NULL WHERE MALOAIPHONG=@id
	DELETE dbo.LOAIPHONG WHERE MALOAIPHONG = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DeleteRoom](@id INT)
AS
BEGIN
	UPDATE dbo.CHITIETDATPHONG SET MAPHONG = NULL WHERE MAPHONG = @id
	DELETE dbo.PHONG WHERE MAPHONG = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteRoomItem]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DeleteRoomItem](@roomItemID INT)
AS
BEGIN
	DELETE dbo.VATDUNG WHERE MAVATDUNG =@roomItemID
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteService]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DeleteService](@id INT)
AS
BEGIN
	UPDATE dbo.CHITIETSUDUNGDV SET MADICHVU = NULL WHERE MADICHVU = @id
	DELETE dbo.DICHVU WHERE MADICHVU =@id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DelteCustomer]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DelteCustomer](@customerId INT)
AS
BEGIN
	UPDATE dbo.HDTHANHTOAN
	SET MAKHACHHANG= NULL WHERE MAKHACHHANG =@customerId

	DELETE dbo.KHACHHANG WHERE MAKHACHHANG =@customerId
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetBill]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetBill](@idBill int)
AS
BEGIN
	SELECT * 
	FROM dbo.HDTHANHTOAN 
	WHERE MAHD = @idBill
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetCustomer]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetCustomer](@idCustomer int)
AS
BEGIN
	SELECT * 
	FROM dbo.KHACHHANG 
	WHERE MAKHACHHANG = @idCustomer
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetDetalBill]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetDetalBill](@idRoom int)
AS
BEGIN
	SELECT * 
	FROM dbo.CHITIETDATPHONG 
	WHERE MAPHONG = @idRoom
		AND TRANGTHAI = 0

END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetRoom](@idRoom INT)
AS
BEGIN
	SELECT * FROM dbo.PHONG WHERE MAPHONG=@idRoom
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InBill]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InBill](@idBill INT)
AS
BEGIN
	SELECT KHACHHANG.MAKHACHHANG,HOTEN,NGAYTHANHTOAN,MAHD,TIENKHACHDUA,TONGTIENPHONG,TONGTIENDICHVU,(TONGTIENPHONG+TONGTIENDICHVU) AS TONGTIEN
	FROM dbo.HDTHANHTOAN,dbo.KHACHHANG
	WHERE HDTHANHTOAN.MAKHACHHANG=KHACHHANG.MAKHACHHANG
		AND MAHD =@idBill
	GROUP BY KHACHHANG.MAKHACHHANG,HOTEN,NGAYTHANHTOAN,MAHD,TIENKHACHDUA,TONGTIENPHONG,TONGTIENDICHVU,(TONGTIENPHONG+TONGTIENDICHVU)

	SELECT TENPHONG,THOIGIANDEN,THOIGIANDI,GIAPHONG 
	FROM dbo.PHONG,dbo.CHITIETDATPHONG
	WHERE PHONG.MAPHONG=dbo.CHITIETDATPHONG.MAPHONG
		AND MAHD =@idBill

	SELECT TENDICHVU,DONVI,GIADV,SOLUONG,THANHTIEN
	FROM dbo.DICHVU,dbo.CHITIETSUDUNGDV
	WHERE dbo.DICHVU.MADICHVU=dbo.CHITIETSUDUNGDV.MADICHVU
		AND MAHD =@idBill
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertGroupRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertGroupRoom](@name NVARCHAR(100) ,@detal NVARCHAR(500),@priceHoursLate DECIMAL ,@priceDay DECIMAL ,@priceMonth DECIMAL ,@priceHoursFirst DECIMAL)
AS
BEGIN
	INSERT dbo.LOAIPHONG
	(
	    TENLOAIPHONG,
	    MOTA,
	    GIAGIOSAU,
	    GIANGAY,
	    GIATHANG,
	    GIAGIODAU
	)
	VALUES
	(   @name,  -- TENLOAIPHONG - nvarchar(50)
	    @detal,  -- MOTA - nvarchar(500)
	    @priceHoursLate, -- GIAGIOSAU - decimal(18, 0)
	    @priceDay, -- GIANGAY - decimal(18, 0)
	    @priceMonth, -- GIATHANG - decimal(18, 0)
	    @priceHoursFirst  -- GIAGIODAU - decimal(18, 0)
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_insertGroupService]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_insertGroupService](@name NVARCHAR(100))
AS
BEGIN
	INSERT dbo.LOAIDICHVU
	(
	    TENLOAIDICHVU
	)
	VALUES
	(@name -- TENLOAIDICHVU - nvarchar(100)
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertRoom](@name NVARCHAR(100) ,@groupRoomId INT,@floor INT ,@status INT)
AS
BEGIN
	INSERT dbo.PHONG
	(
	    TENPHONG,
	    MOTA,
	    MALOAIPHONG,
	    TANG,
	    TRANGTHAI
	)
	VALUES
	(   @name, -- TENPHONG - nvarchar(50)
	    N'', -- MOTA - nvarchar(500)
	    @groupRoomId,   -- MALOAIPHONG - int
	    @floor,   -- TANG - int
	    @status    -- TRANGTHAI - int
	    )
END  
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertRoomItem]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertRoomItem](@name NVARCHAR(100),@manufacture NVARCHAR(100),@sateTime DATE ,@detail NVARCHAR(500),@roomId INT,@price DECIMAL )
AS
BEGIN
	INSERT dbo.VATDUNG
	(
	    TENVATDUNG,
	    HANGSANXUAT,
	    THOIGIANMUA,
	    CHITIET,
	    MAPHONG,
	    GIA
	)
	VALUES
	(   @name,       -- TENVATDUNG - nvarchar(200)
	    @manufacture,       -- HANGSANXUAT - nvarchar(100)
	    @sateTime, -- THOIGIANMUA - date
	    @detail,       -- CHITIET - nvarchar(500)
	    @roomId,         -- MAPHONG - int
	    @price       -- GIA - decimal(18, 0)
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertService]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertService](@name NVARCHAR(200),@price DECIMAL ,@detail NVARCHAR(500),@amount INT ,@unit NVARCHAR(20),@idGroup INT)
AS
BEGIN
	INSERT dbo.DICHVU
	(
	    TENDICHVU,
	    GIADV,
	    MOTA,
	    SOLUONGTON,
	    DONVI,
		MALOAIDICHVU
	)
	VALUES
	(   @name,  -- TENDICHVU - nvarchar(100)
	    @price, -- GIADV - decimal(18, 0)
	    @detail,    -- MOTA - int
	    @amount,    -- SOLUONGTON - int
	    @unit,   -- DONVI - nvarchar(50)
		@idGroup
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchCustomer]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearchCustomer](@name NVARCHAR(100))
AS
BEGIN
	SELECT MAKHACHHANG,HOTEN,GIOITINH,NGAYSINH,CMND,SDT,DIACHI,TENPC 
	FROM dbo.KHACHHANG,dbo.PCKHACHHANG 
	WHERE dbo.fuConvertToUnsign1(HOTEN) LIKE N'%'+dbo.fuConvertToUnsign1(@name)+'%'		
		OR dbo.fuConvertToUnsign1(MAKHACHHANG) LIKE N'%'+dbo.fuConvertToUnsign1(@name)+'%'
		OR dbo.fuConvertToUnsign1(CMND) LIKE N'%'+dbo.fuConvertToUnsign1(@name)+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchGroupRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearchGroupRoom](@name NVARCHAR(100))
AS
BEGIN
	SELECT * FROM dbo.LOAIPHONG 
	WHERE dbo.fuConvertToUnsign1(TENLOAIPHONG) LIKE N'%'+dbo.fuConvertToUnsign1(@name)+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearchRoom](@name NVARCHAR(100))
AS
BEGIN
	SELECT * FROM dbo.PHONG
	WHERE dbo.fuConvertToUnsign1(TENPHONG) LIKE N'%'+dbo.fuConvertToUnsign1(@name)+'%'
END 
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchService]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearchService](@name NVARCHAR(100))
AS
BEGIN
	SELECT * FROM dbo.DICHVU
	WHERE dbo.fuConvertToUnsign1(TENDICHVU) LIKE N'%'+dbo.fuConvertToUnsign1(@name)+'%' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowBill1]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[USP_ShowBill1]
 AS
 BEGIN
	 SELECT MAHD,dbo.KHACHHANG.HOTEN , CMND,SDT,PHONGDATHUE,NGAYHD,NGAYTHANHTOAN,TONGTIENPHONG , TONGTIENDICHVU ,TRANGTHAI
	 FROM dbo.HDTHANHTOAN,dbo.KHACHHANG 
	 WHERE HDTHANHTOAN.MAKHACHHANG =dbo.KHACHHANG.MAKHACHHANG
	 ORDER BY MAHD DESC
	END
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowBillByDate]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[USP_ShowBillByDate](@fromDate DATE ,@toDate DATE)
 AS
 BEGIN
	 SELECT MAHD,dbo.KHACHHANG.HOTEN , CMND,SDT,PHONGDATHUE,NGAYHD,NGAYTHANHTOAN,TONGTIENPHONG , TONGTIENDICHVU ,TRANGTHAI
	 FROM dbo.HDTHANHTOAN,dbo.KHACHHANG 
	 WHERE HDTHANHTOAN.MAKHACHHANG =dbo.KHACHHANG.MAKHACHHANG
		AND NGAYHD BETWEEN @fromDate AND @toDate
	 ORDER BY MAHD DESC
	END
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowCustomer]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ShowCustomer]
AS
BEGIN
	SELECT MAKHACHHANG,HOTEN,GIOITINH,NGAYSINH,CMND,SDT,DIACHI,TENPC
	FROM dbo.KHACHHANG,dbo.PCKHACHHANG
	WHERE KHACHHANG.MAPHANCAP=dbo.PCKHACHHANG.MAPHANCAP
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowDetailServiceUsed]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ShowDetailServiceUsed](@idBill INT)
AS
BEGIN
	SELECT DICHVU.MADICHVU,TENDICHVU,DONVI,GIADV,SOLUONG,THANHTIEN
	FROM dbo.CHITIETSUDUNGDV,dbo.DICHVU
	WHERE CHITIETSUDUNGDV.MADICHVU=dbo.DICHVU.MADICHVU
	AND dbo.CHITIETSUDUNGDV.MAHD= @idBill
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowRoomSelectedByIdBill]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ShowRoomSelectedByIdBill](@idBill INT)
AS
BEGIN
	SELECT GIAPHONG,MAHD , CHITIETDATPHONG.MAPHONG , TENPHONG ,THOIGIANDEN , THOIGIANDI , CHITIETDATPHONG.TRANGTHAI
	FROM dbo.PHONG,dbo.CHITIETDATPHONG
	WHERE dbo.PHONG.MAPHONG=dbo.CHITIETDATPHONG.MAPHONG
		AND MAHD=@idBill

END
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowRoomSelectedByIdBill2]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ShowRoomSelectedByIdBill2](@idBill INT)
AS
BEGIN
	SELECT MAHD , CHITIETDATPHONG.MAPHONG , TENPHONG ,THOIGIANDEN , THOIGIANDI , CHITIETDATPHONG.TRANGTHAI ,GIAPHONG
	FROM dbo.PHONG,dbo.CHITIETDATPHONG
	WHERE dbo.PHONG.MAPHONG=dbo.CHITIETDATPHONG.MAPHONG
		AND MAHD=@idBill

END
GO
/****** Object:  StoredProcedure [dbo].[USP_TraserRoomIdInDetailBill]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_TraserRoomIdInDetailBill](@fromRoomID INT,@toRoomId INT)
AS
BEGIN
	UPDATE dbo.CHITIETDATPHONG 
	SET MAPHONG = @toRoomId 
	WHERE MAPHONG = @fromRoomID
		AND TRANGTHAI = 0;
		
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateCustomer]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateCustomer](@customerId INT,@groupId INT,@customerName NVARCHAR(100),@customerPhone VARCHAR(100),@customerIdCard VARCHAR(100),@customerAddress NVARCHAR(500),@customerSex BIT,@customerBirthDay DATE)
AS
BEGIN
	UPDATE dbo.KHACHHANG SET 
		MAPHANCAP=@groupId,
		HOTEN=@customerName,
		SDT=@customerPhone,
		GIOITINH=@customerSex,
		CMND=@customerIdCard,
		DIACHI=@customerAddress,
		NGAYSINH=@customerBirthDay
	WHERE MANV=@customerId
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateGroupRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateGroupRoom](@id INT,@name NVARCHAR(100) ,@detal NVARCHAR(500),@priceHoursLate DECIMAL ,@priceDay DECIMAL ,@priceMonth DECIMAL ,@priceHoursFirst DECIMAL)
AS
BEGIN
	UPDATE dbo.LOAIPHONG
	SET TENLOAIPHONG = @name,
		MOTA =@detal,
		GIAGIOSAU =@priceHoursLate,
		GIANGAY = @priceDay ,
		GIATHANG=@priceMonth,
		GIAGIODAU = @priceHoursFirst
	WHERE MALOAIPHONG =@id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateGroupService]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateGroupService](@id INT,@name NVARCHAR(100))
AS
BEGIN
	UPDATE dbo.LOAIDICHVU 
	SET TENLOAIDICHVU =@name
	WHERE MALOAIDICHVU =@id
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateRoom](@id INT,@name NVARCHAR(100) ,@detal NVARCHAR(500),@groupRoomId INT,@floor INT ,@status INT)
AS
BEGIN
	UPDATE dbo.PHONG
	SET TENPHONG = @name,
		MOTA = @detal,
		MALOAIPHONG = @groupRoomId,
		TANG = @floor ,
		TRANGTHAI = @status
	WHERE MAPHONG = @id	
END 
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateRoomItem]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateRoomItem](@roomItemID INT,@name NVARCHAR(100),@manufacture NVARCHAR(100),@sateTime DATE ,@detail NVARCHAR(500),@roomId INT,@price DECIMAL )
AS
BEGIN
	UPDATE dbo.VATDUNG 
	SET TENVATDUNG=@name,
		HANGSANXUAT=@manufacture,
		THOIGIANMUA = @sateTime,
		CHITIET=@detail,
		MAPHONG=@roomId,
		GIA=@price
	WHERE MAVATDUNG=@roomItemID
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateRoomStatus]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateRoomStatus](@idRoom INT ,@rStatus INT)
AS
BEGIN
	UPDATE dbo.PHONG SET TRANGTHAI = @rStatus WHERE MAPHONG = @idRoom 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateService]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateService](@id INT,@name NVARCHAR(200),@price DECIMAL ,@detail NVARCHAR(500),@amount INT ,@unit NVARCHAR(20),@idGroup INT)
AS
BEGIN
	UPDATE dbo.DICHVU 
	SET TENDICHVU =@name,
		GIADV =@price,
		MOTA =@detail,
		SOLUONGTON =@amount,
		DONVI = @unit,
		MALOAIDICHVU =@idGroup
	WHERE MADICHVU =@id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateTotalRoomCharge]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateTotalRoomCharge](@idBill INT)
AS
BEGIN
	DECLARE @total DECIMAL
	SELECT @total = SUM(GIAPHONG) FROM dbo.CHITIETDATPHONG WHERE MAHD =@idBill
	UPDATE dbo.HDTHANHTOAN SET TONGTIENPHONG=@total WHERE MAHD = @idBill
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateTotalService]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateTotalService](@idBill INT)
AS
BEGIN
	DECLARE @total DECIMAL
	SELECT @total = SUM(THANHTIEN) FROM dbo.CHITIETSUDUNGDV WHERE MAHD =@idBill
	UPDATE dbo.HDTHANHTOAN SET TONGTIENDICHVU=@total WHERE MAHD = @idBill
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ViewGroupRoom1]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ViewGroupRoom1]
AS
BEGIN
	SELECT * FROM dbo.LOAIPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ViewGroupService]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ViewGroupService]
AS
BEGIN
	SELECT * FROM dbo.LOAIDICHVU
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ViewRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ViewRoom]
AS
BEGIN
	SELECT * FROM dbo.PHONG
	ORDER BY TENPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ViewRoomItemOfRoom]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ViewRoomItemOfRoom](@roomID INT)
AS
BEGIN
	SELECT * FROM dbo.VATDUNG WHERE MAPHONG = @roomID
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ViewService]    Script Date: 24/06/2020 7:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ViewService]
AS
BEGIN
	SELECT * FROM dbo.DICHVU
END
GO
USE [master]
GO
